<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grinleaf.onesightdiaryplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneSightDiaryPlanner"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DialogEmoActivity"
            android:exported="false"
            android:theme="@style/Theme.MyDialog"/>
        <activity
            android:name=".MyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ThemeSettingActivity"
            android:exported="false" />
        <activity
            android:name=".AlertSettingActivity"
            android:exported="false"
            android:theme="@style/Theme.OneSightDiaryPlanner_sub03"/>
        <activity
            android:name=".RewardActivity"
            android:exported="false" />
        <activity
            android:name=".AchievementActivity"
            android:exported="false" />
        <activity
            android:name=".DateEditActivity"
            android:exported="true"
            android:theme="@style/Theme.OneSightDiaryPlanner_sub" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.OneSightDiaryPlanner_sub03" />
        <activity
            android:name=".TutorialActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OneSightDiaryPlanner_sub02" />

        <!-- 클라우드메시징 서비스 클래스 추가 -->
        <service
            android:name=".TodayEmoPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- 클라우드메시징 서비스 아이콘, 색상 설정 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_leaf" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/checklist_color" />

    </application>

</manifest>